.game .battlefield{
    display: inline-block;
}
.game .battlefield table{
    border-collapse: collapse;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.game .battlefield table td{
    padding: 0;
    margin: 0;
}
.game .battlefield table td span{
    border: 1px solid #eee;
    width: 18px;
    height: 18px;
    display: block;
    text-align: center;
}
.game .bf-left{
    margin-right: 20px;
}
.game .enemy-battlefield td span{
    cursor: pointer;
}
.game .enemy-battlefield td span:hover{
    border-color: black;
}
.game .bf-desc{
    text-align: center;
}
.game .bf-turn{
    text-align: center;
    font-weight: bold;
}