.rooms-list li{
    cursor: pointer;
}

.room-chat-container{
    margin: 30px 0;
}
body .room-chat-container input{
    margin: 0;
}
.chat-lines{
    background: #eee;
    border: 1px solid #999;
    width: 380px;
    height: 160px;
    margin-bottom: 10px;
    font-size: 10px;
    padding: 2px;
    overflow-y: scroll;
}
.chat-lines .chat-author{
    font-weight: bold;
}